<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Ingredient</title>
    <!-- Latest compiled and minified CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet">

    <!-- Optional theme -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <script crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--/*@thymesVar id="recipe" type="guru.springframework.sfg_recipe_project.domain.Ingredient"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form th:action="@{'/recipes/' + ${ingredient.getRecipeId()} + '/ingredients'}" th:objects="${ingredient}">
                <input th:field="*{ingredient.id}" type="hidden"/>
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Edit Ingredient Information</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Ingredient Amount:</label>
                                    <input class="form-control" th:field="*{ingredient.amount}" type="text"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Unit of Measure:</label>
                                    <select class="form-control" name="uom.id">
                                        <!--/*@thymesVar id="uomEach" type="guru.springframework.sfg_recipe_project.domain.UnitOfMeasure"*/-->
                                        <option th:selected="${ingredient == null}">Choose a UOM</option>
                                        <option th:each="uomEach : ${uomList}"
                                                th:selected="${uomEach.id.equals(ingredient?.uom?.id)}"
                                                th:text="${uomEach.description}"
                                                th:value="${uomEach.id}">Each
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Description:</label>
                                    <input class="form-control" th:field="*{ingredient.description}" type="text"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>